body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    height: 50px; /* Ajusta según el tamaño de tu logo */
    width: 50px; /* Asegúrate de que el logo tenga dimensiones iguales */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    background-color: #555; /* Color de fondo al pasar el ratón */
    border-radius: 5px;
}































form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 10px;
}

input, textarea, select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #25D366; /* Color verde de WhatsApp */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1DAE6D; /* Color verde más oscuro */
}
